<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '9d3b7966-16b3-49c7-a3e4-bc1228fa49fc'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angular")

    @*@Scripts.Render("~/Scripts/vendor/ng-cordova.js");*@

    @{
        var os = "unknownS";
        bool isDevice = false;
        if (Request.UserAgent.ToLower().Contains("android"))
        {
            os = "android";
            isDevice = true;
        }
        if (Request.UserAgent.ToLower().Contains("windows"))
        {
            os = "windows";
            //isDevice = true;
        }
        if (Request.UserAgent.ToLower().Contains("ios") || Request.UserAgent.ToLower().Contains("iphone") || Request.UserAgent.ToLower().Contains("ipad"))
        {
            os = "ios";
            isDevice = true;
        }
        if (isDevice)
        {
            @Scripts.Render("~/cordovadist/" + os + "/cordova.js");
        }
    }

    @RenderSection("scripts", required: false)

    <script>

        //var ua = navigator.userAgent;
        //var checker = {
        //    iphone: ua.match(/(iPhone|iPod|iPad)/),
        //    blackberry: ua.match(/BlackBerry/),
        //    android: ua.match(/Android/)
        //};

        angular.element(function () {
            if (window.cordova) {
                document.addEventListener('deviceready', bootstrapAngular, false);
            }
            else {
                bootstrapAngular();
            }
        });
        function bootstrapAngular() {
            angular.bootstrap($('#hostedApp'), ['hostedApp']);
        }
    </script>

</body>
</html>
